# Python
__pycache__/
*.py[cod]
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Uploads folder
uploads/

# Secrets
/client_secret_*.json

# Custom scripts
check_excel.py
create_fillable_form.py
generate_data.py
employee_enrolment_form.pdf
form_template.pdf
sample_data.xlsx


# Flask
instance/

# Editor files
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db