Flask==2.0.1
Werkzeug==2.0.1
pandas==1.3.3
fillpdf==0.7.2
openpyxl==3.0.9
google-auth-oauthlib==0.4.6
google-auth==2.3.3
google-api-python-client==2.31.0
python-dotenv==0.19.2
PyPDF2
flask-wtf
reportlab>=4.0.0
fillpdf>=0.9.6